@function vw($px) {
    @return ($px/750)*100vw;
}

.home {
    margin-bottom: vw(98);

    .header {
        z-index: 100;
        width: 100%;
        height: vw(96);
        background-color: #FF6600;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 0;

        img {
            width: vw(176);
            height: vw(60);
            z-index: 100;
            display: block;
        }

        .search {
            width: vw(466);
            height: vw(72);
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                width: vw(164);
                height: vw(40);
                display: flex;
                align-items: center;
                justify-content: center;
                // height: 100%;
                font-size: 18px;
                padding-left: vw(46);
                color: #ccc;
                background: #fff url('https://m.5173.com/dist/src/assets/images/search4.png?f1c7c4fe050302588bbeed8011ab1ff2') no-repeat 0;
                background-size: 20px;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            color: #fff;
            font-size: 12px;

            .icon {
                font-size: 19px;
            }
        }
    }

    .banner {
        width: 100%;
        height: vw(292);
        margin-top: vw(96);

        .am-wingblank {
            width: 100%;
            height: 100%;
            margin: 0 !important;

            .slider,
            .slider-list,
            .slider-frame,
            .slider-slide {
                height: 100% !important;

                img {
                    width: 100%;
                    height: 100%;
                }

            }

            .am-carousel-wrap {
                margin-bottom: vw(10);
            }

            .am-carousel-wrap-dot {
                span {
                    width: vw(23);
                    height: vw(23);
                    background: rgba(0, 0, 0, .6);
                    margin-right: vw(25);
                }
            }

            .am-carousel-wrap-dot-active {
                span {
                    background-color: #fff;
                }
            }
        }
    }

    .nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: vw(224);
        align-items: center;
        padding: vw(30) 0;
        background-color: #fff;
        margin-bottom: vw(20);

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: vw(108);
                height: vw(108);
            }
        }
    }

    .tags {
        height: vw(554);
        width: 100%;

        .am-tabs-default-bar-content {
            background-color: #e8e8e8;

        }

        .am-tabs-default-bar-tab-active {
            color: #FF6600;
            background-color: #fff;
            border-bottom: 1px solid #FF6600;
        }

        .tagsChildren {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            height: vw(453);


        }

        .am-grid {
            width: 100%;

            .am-grid-icon {
                width: vw(126);
                height: vw(126);
                border-radius: vw(20);
            }

            .am-grid-text {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                font-size: 14px !important;
            }
        }
    }

    .more {
        height: vw(98);
        color: #666;
        font-size: vw(30);
        line-height: vw(98);
        text-align: center;
        background-color: #fff;
        // border-top: 1px solid #ccc;
        margin-bottom: vw(20);
    }

    .recommend {
        height: vw(1177);
        background-color: #fff;
        margin-bottom: vw(20);
    }

    .my-list .spe .am-list-extra {
        flex-basis: initial;
    }

    .my-list {
        z-index: 10;
        .am-list-header {
            height: vw(80);
            font-weight: 900;
            text-align: center;
            color: #000;
            font-size: vw(30);
        }

        .am-list-item {
            z-index: 10;
            height: vw(220.5);
        }

        .am-list-thumb>img {
            width: vw(126);
            height: vw(126);
            border-radius: 15px;
        }

        .am-list-brief:nth-child(1) {
            color: #FF6600;
        }

        .am-list-brief:nth-child(2) {
            font-size: 12px;
        }

    }

    .myColor {
        color: #FF6600;
    }

    .checkCenter {
        height: vw(136);
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        padding-top: vw(30);

        p {
            font-weight: 900;
            font-size: 16px;
            margin: 0 0 vw(10) 0;
        }

        span {
            font-size: 12px;
            color: #666;
        }
    }

    .checkInput {
        background-color: #fff;
        height: vw(108);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: vw(20);

        input {
            border: none;
            border-left: 2px solid #FF6600;
            caret-color: #ccc;
        }

        .am-button {
            background-color: #FF6600;
            color: #fff;
        }
    }

    .trouble {
        height: vw(194);

        h4 {
            font-size: 16px;
            background-color: #fff;
            height: vw(88);
            margin: 0;
            text-align: center;
            line-height: vw(88);
            margin-bottom: vw(2);
        }

        .kefu {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: vw(106);

            .innerTro {
                background-color: #fff;

                display: flex;
                align-items: center;
                // border: 1px solid #ccc;
                width: vw(250);
                height: vw(106);
                justify-content: center;
                margin: 0 vw(2);

                img {
                    width: vw(75);
                    height: vw(75);
                    margin-right: vw(10);
                }
            }
        }
    }
    .copy{
        width: 100%;
        height: vw(150);
        font-size: 12px;
        color: #999;
        text-align: center;
        line-height: vw(30);
        padding-top: vw(40);
    }
}