@function vw($px) {
    @return ($px / 750) * 100vw
};
.clear::after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
}
.mgbox{
    float: left;
    .UL{
        width: vw(645);
        .lishow{
            float: left;
            display: block;
            width: vw(142.5);
            height: vw(195);
            margin: vw(30) vw(33.75);
            img{
                display: block;
                width: vw(142.5);
                height: vw(142.5);
            }
            p{
                text-align: center;
                margin-bottom: 0;
                line-height: vw(56);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
