@function vw($px) {
    @return ($px / 750) * 100vw
};

.am-tabs-right{
    overflow-y:scroll !important;
    .am-tabs-tab-bar-wrap{
        position: fixed;
        right: 0;
    }
}

.am-tabs-default-bar-content{
   
    overflow-y: scroll !important;
    // background: url(../asset/image/shouji.png) 32% no-repeat;
    .am-tabs-default-bar-tab{
        width: vw(105) !important;
        height: vw(97.62) !important;
    }
    background-color: #F1F1F1;
    #m-tabs-0-0{
        color: rgba(0,0,0,0.1);
        background: url(../asset/image/hot2.png) 50% no-repeat;
          background-size: vw(50);
    }
}
.am-tabs-tab-bar-wrap
.am-tabs-default-bar-underline,.am-tabs-default-bar-tab-active{
    border: none !important;
    background-color: #fff !important;
    color: #FF6600 !important;
}
.selltop{
    background: #197fee;
    padding: vw(12) vw(0);
    h1{
        display: block;
        float: left;
        font-weight:normal;
        margin: 0;
        padding-left: vw(315);
        font-size: vw(37.5);
        color: #ffffff;
    }
    img{
        float: right;
        display: block;
        width: vw(45);
        margin: vw(10) vw(30);
    }
    .search{
        margin-top: vw(75);
        margin-left: vw(37.5);
        width: vw(675);
        height: vw(60);
        background: #fff;
        border-radius: vw(15);
        text-align: center;
        line-height: vw(60);
    }
}